body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 26px 0px;
	font-size: 0px;
	background-color: #222;
	text-align: center;
}
div.main-left, div.main-right {
	background-color: #222;
	display: inline-block;
	vertical-align: top;
}
div.main-left {
	margin-right: 20px;
}
div.main-left div.box {
	width: 216px;
}
div.box {
	min-width: 150px;
	border-radius: 5px;
	padding: 15px;
	background-color: #333;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.25);
}
div.box:not(:nth-child(1)) {
	margin-top: 20px;
}
div.box-title {
	text-align: left;
	font-size: 18px;
	color: #aaa;
}
div.add-button {
	float: right;
	font-size: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #05a;
	padding: 2px 4px;
	border-radius: 2px;
	border: 1px solid #07f;
}
div.field {
	margin-top: 4px;
	height: 20px;
}
div.field-title {
	font-size: 12px;
	text-align: left;
	color: #ccc;
	margin-top: 2px;
	margin-left: 1px;
	float: left;
}
div.field input[type="text"] {
	float: right;
	background-color: #1a1a1a;
	border: 1px solid #444;
	border-radius: 3px;
	color: #ccc;
	font-size: 11px;
	height: 19px;
	width: 150px;
}
div.circle-view {
	text-align: left;
	background-color: #ccc;
	border-radius: 2px;
	padding: 2px 0px 2px 6px;
	cursor: pointer;
	height: 14px;
}
div.circle-view div.values {
	color: #555;
	font-size: 12px;
	display: inline-block;
}
div.circle-view, div.circle-edit {
	margin-top: 10px;
}
div.circle-view div.remove-circle {
	display: none;
	width: 12px;
	height: 12px;
	margin-right: 2px;
	float: right;
	background-color: #722;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #500;
}
div.circle-view:hover div.remove-circle {
	display: inline-block;
}
select {
	float: right;
	background-color: #444;
	color: #ccc;
	width: 135px;
}
div.field input[type="text"].invalid {
	color: rgb(173, 102, 102);
	background-color: rgb(51, 31, 31);
}
